.item{
    width: 350px;
}

.item p{
    margin: 6px 0px;
}

.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #191a1b;
    font-size: 1rem;
    font-weight: 700;
}
.item-price-old{
    color: #191a1b;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}